
CREATE OR ALTER PROCEDURE [dbo].[ResurrectionOfLostData]
	@SchemaTableName	NVARCHAR(100)
	,@HasBlobData		BIT = 0
	,@IsDebugMode		BIT = 1

	--Original link https://app.box.com/s/lwm6opi4yyqemxmw1aa4
	--Create test table https://raresql.com/2011/10/22/how-to-recover-deleted-data-from-sql-sever/
	--Reading Tran log https://www.sqlservercentral.com/articles/reading-sql-servers-transaction-log
	--StackOverflow discussion https://stackoverflow.com/questions/69981365/how-to-fix-a-stored-procedure-that-can-recover-deleted-data

	/**********Limitations**********/
	/* Heap only, one row only */
AS
 
BEGIN

	-- 1st block to run
	DECLARE
		@DBName NVARCHAR(50) =  DB_NAME()
		--,@SchemaTableName NVARCHAR(100) = 'dbo.Variable'

 
	IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES 
		WHERE [TABLE_SCHEMA] + '.' + [TABLE_NAME] = @SchemaTableName
		AND TABLE_CATALOG = @DBName
		)
	BEGIN
		RAISERROR (N'There is no table %s in DB %s', 16, 1, @SchemaTableName, @DBName);
		--RETURN
	END


	/************************ Work with Pages ***********************/

	BEGIN
		DROP TABLE IF EXISTS #AllocationUnitIds
		SELECT 
			p.partition_id
			,p.object_id
			,au.allocation_unit_id 
			,au.type 
			,au.type_desc			-- Describes the type of allocation unit (e.g., IN_ROW_DATA, LOB_DATA)
		INTO #AllocationUnitIds
		FROM sys.allocation_units au
		INNER JOIN sys.partitions p 
			ON (au.type IN (1, 3) AND p.hobt_id = au.container_id) -- 1 = IN_ROW_DATA, 3 = ROW_OVERFLOW_DATA
			OR (au.type = 2 AND p.partition_id = au.container_id)  -- 2 = LOB_DATA
		WHERE p.object_id = OBJECT_ID('' + @SchemaTableName + '')

		-- SELECT * FROM #AllocationUnitIds 


		DROP TABLE IF EXISTS #MyPages
		SELECT 
			sa.allocation_unit_id 
			,sp.partition_id
			,bd.database_id
			,bd.file_id
			,bd.page_id
			,bd.page_type
			,bd.row_count
			,bd.free_space_in_bytes
			,bd.is_modified
		INTO #MyPages
		FROM sys.system_internals_allocation_units AS sa
		INNER JOIN sys.partitions AS sp
			ON sa.container_id = sp.partition_id
		INNER JOIN sys.dm_os_buffer_descriptors bd
			ON sa.allocation_unit_id = bd.allocation_unit_id
		WHERE 1=1
			AND sp.object_id = OBJECT_ID (@SchemaTableName)

		-- SELECT * FROM #MyPages 


		DROP TABLE IF EXISTS #MyPagesDetails
		SELECT 
			/*
			pd.page_lsn,					-- Last modification LSN on that page
			pd.fixed_length,				-- Length, in bytes, of fixed-size part of each row on the page
			pd.slot_count,					-- Total number of slots on the page (used + unused). For data pages equals number of rows
			pd.ghost_rec_count,				-- A number of ghost records that are marked for deletion
			pd.free_bytes,					-- Total bytes of free space currently available on the page
			pd.free_bytes_offset,			-- Offset in bytes to the start of free space at the end of the data area
			*/
			pd.*
		INTO #MyPagesDetails
		FROM #MyPages p
		CROSS APPLY sys.dm_db_page_info
		(
			p.database_id,	
			p.file_id,
			p.page_id,                      
			'DETAILED'   --  'DETAILED' or 'LIMITED'
		) pd
		WHERE p.page_type = 'DATA_PAGE'

		-- SELECT * FROM #MyPagesDetails

	END
	-- end of 1st block to run




	/************************ Work with Tran log ***********************/


		/*
		LSN (Log Sequence Number) in SQL Server is a 96-bit composite structure made up of three parts:
		- VLF sequence number (FileSeqNo) – 4 bytes
		- Block number (LogBlockOffset) – 4 bytes
		- Slot number (SlotId) – 2 bytes
		Because SQL Server doesn’t have a native 96-bit integer type (CPUs don’t natively support), 
		DMVs and functions (like sys.fn_dblog) expose LSNs as a string representation (nvarchar(64)), e.g.:
		For ex:

		FileSeqNo|LBOffset|SlId 
		---------|--------|----
		'0000002b:000001a3:0001'

		*/


	-- 2d block to run
	BEGIN
		-- Get @CurrentLSN - first parameter to sys.fn_dblog - for faster search
		DECLARE 
			@CurrentLSN NVARCHAR(64) 
			,@PrevLSN NVARCHAR(64)
			,@TransactionId NVARCHAR(50)
		
		SELECT 
			@CurrentLSN = page_lsn 
			,@TransactionId = xdes_id
		FROM #MyPagesDetails
	
		SELECT @CurrentLSN = dbo.UDF_ConvertLSN(@CurrentLSN)

		-- SELECT @CurrentLSN, @TransactionId

		-- Get the first LSN of transaction (index seek)
		SELECT 
			@PrevLSN = f.[Previous LSN]
		FROM sys.fn_dblog(@CurrentLSN, NULL) f
		WHERE 1=1
			AND f.[Transaction ID] = @TransactionId
			AND f.[Operation] = 'LOP_COMMIT_XACT'

		SELECT @PrevLSN = dbo.UDF_ConvertLSN(@PrevLSN)

		-- SELECT @PrevLSN

		-- Read transaction log (index scan)
		DROP TABLE IF EXISTS #MyFullTransaction
		SELECT
			f.*
		INTO #MyFullTransaction
		FROM sys.fn_dblog(@PrevLSN, NULL) f
		WHERE 1=1
			AND f.[Transaction ID] = @TransactionId

		-- SELECT * FROM #MyFullTransaction


		-- IN_ROW_DATA
		DROP TABLE IF EXISTS #InRowData
		;WITH InRowData AS
        (
		SELECT
			f.[Transaction Id] AS TransactionId
			,f.AllocUnitId
			,f.PartitionId
			,au.[object_id] AS [ObjectId]
			,au.[type_desc] AS [TypeDesc]
			,CONVERT(BIGINT, CONVERT(VARBINARY, SUBSTRING(f.[Page ID], 6, 8), 2)) AS PageId  --(8 characters, 4 bytes in hexadecimal)
			,f.[Slot ID] AS SlotId
			,f.[RowLog Contents 0] 
		FROM #MyFullTransaction f
		INNER JOIN #AllocationUnitIds au 
			ON f.AllocUnitId = au.allocation_unit_id
		WHERE 1=1 
			AND au.[type_desc] = 'IN_ROW_DATA'
		)

		SELECT 
			TransactionId
			,AllocUnitId
			,PartitionId
			,ObjectId
			,TypeDesc
			,PageId
			,SlotId
			,ROW_NUMBER() OVER(ORDER BY PageId, SlotId) AS RowId
			,[RowLog Contents 0]
		INTO #InRowData
		FROM InRowData

		-- SELECT * FROM #InRowData 
	
	END
	-- end of 2d block to run



	/************************ Work with Data page ***********************/

	/*
	--Fixed-length
	1 Byte : Status Bit A
	1 Byte : Status Bit B
	2 Bytes : Fixed length offset - where Fixed data block ends
	n Bytes : Fixed length data
	2 Bytes : Total Number of Columns
	(#cols/8) Bytes : NULL Bitmap (1 bit for each column: 1 indicates that the column IS NULL, 0 indicate that the column IS NOT NULL)
	--Var
	2 Bytes : Number of variable-length columns
	2 Bytes : Offset where Col1 data ends
	...
	2 Bytes : Offset where ColM data ends
	V1 Bytes: Col1 data
	...
	VM Bytes: ColM data
	*/


	--3d block to run
	DROP TABLE IF EXISTS #ColumnDataHexValue 
	CREATE TABLE #ColumnDataHexValue 
	(
		[RowId]            INT,
		[RowLogContents]   VARBINARY(MAX),
		[Name]             SYSNAME,
		[DataTypeName]	   VARCHAR(50),
		[NullBit]          SMALLINT,
		[IsVar]			   BIT,
		[SystemTypeId]     TINYINT,
		[BitPos]           TINYINT,
		[Precision]        TINYINT,
		[Scale]            TINYINT,
		[IsNull]           INT,
		[ColumnValueStartPosition]  INT,
		[ColumnLength]     INT,
		[ColumnHexValue]   VARBINARY(MAX)
	)



	DECLARE @RowId INT;
	DECLARE @TotalRows INT;

	SELECT @TotalRows = COUNT(*) FROM #InRowData;

	SET @RowId = 1;

	/************************ Loop by rows. Start ***********************/
	WHILE @RowId <= @TotalRows
	BEGIN

		/**********Check for IN_ROW_DATA. Start************/


		DECLARE 
			@FixedLengthOffset	INT,
			@TotalNumOfCols		INT,
			@TotalNullBitmapSize INT,
			@VarNumOfCols		INT   -- = M var-length columns
			
		-- 2 bytes store FixedLengthOffset after Status Bit A + Status Bit B => start from 3rd byte
		SELECT
			@FixedLengthOffset = dbo.UDF_GetIntFromNext2Bytes([RowLog Contents 0], 3) 
		FROM #InRowData
		WHERE RowId = @RowId

		-- 2 bytes after Fixed-length data store TotalNumOfCols => start from @FixedLengthOffset + 1
		SELECT
			@TotalNumOfCols = dbo.UDF_GetIntFromNext2Bytes([RowLog Contents 0], @FixedLengthOffset + 1) 
		FROM #InRowData
		WHERE RowId = @RowId

		-- X bytes after TotalNumOfCols store NULLBitmap
		SELECT
			@TotalNullBitmapSize = CEILING(@TotalNumOfCols /8.0)
		FROM #InRowData
		WHERE RowId = @RowId

		-- 2 bytes after TotalNullBitmapSize = = M var-length columns
		SELECT 
			@VarNumOfCols = dbo.UDF_GetIntFromNext2Bytes([RowLog Contents 0], @FixedLengthOffset + 2 + @TotalNullBitmapSize + 1) 
		FROM #InRowData
		WHERE RowId = @RowId

			--SELECT @FixedLengthOffset, @TotalNumOfCols, @TotalNullBitmapSize, @VarNumOfCols


		--Create table to collect the row data.
		DROP TABLE IF EXISTS #DeletedRows
		CREATE TABLE #DeletedRows 
		(
			[RowId]					INT,
			[PartitionId]			BIGINT,	
			[ObjectId]				INT,
			[RowLogContents]		VARBINARY(8000),
			[StatusBitA]			VARBINARY(2),
			[StatusBitB]			VARBINARY(2),
			[FixedLengthOffset]		SMALLINT,
			[FixedLengthData]		VARBINARY(8000), 
			[TotalNumOfCols]		SMALLINT,
			[TotalNullBitmapSize]	SMALLINT,
			[TotalNullBitMapBytes]	VARBINARY(8000),
			[TotalNullBitMapBits]	VARCHAR(8000),  
			[VarNumOfCols]			SMALLINT,
			[VarColsOffsetArray]	VARBINARY(8000),
			[VarLengthDataStart]	SMALLINT
		)

		/*
		...
		2 Bytes : Number of variable-length columns
		2 * M Bytes : Column offset array (2 * M variable-length columns)
		X Bytes : Data for variable-length columns
		*/
		;WITH RowData AS (
		SELECT 
			@RowId AS RowId
			,[PartitionId]
			,[ObjectId]

			-- Fixed-length
			,[RowLog Contents 0] AS RowLogContents 
			,SUBSTRING([RowLog Contents 0], 1,1) AS [StatusBitA]
			,SUBSTRING([RowLog Contents 0], 2,1) AS [StatusBitB]
			,@FixedLengthOffset AS [FixedLengthOffset]
			,SUBSTRING([RowLog Contents 0], 5, @FixedLengthOffset - 4) AS [FixedLengthData] -- data starts from the 5th byte 
			,@TotalNumOfCols AS [TotalNumOfCols]											--	2 bytes after Fixed-length data
			,@TotalNullBitmapSize AS TotalNullBitmapSize
			,SUBSTRING([RowLog Contents 0], @FixedLengthOffset + 3, @TotalNullBitmapSize) AS [TotalNullBitMapBytes] -- next (#col/8) bytes after [TotalNumOfCols]
				
			-- Var-length
			,@VarNumOfCols AS [VarNumOfCols] --next 2 bytes after [TotalNullBitMapBytes] = M var-length columns
			,SUBSTRING([RowLog Contents 0], @FixedLengthOffset + 3 + @TotalNullBitmapSize + 2, @VarNumOfCols * 2) 
				AS [VarColsOffsetArray] -- next bytes 2 * [VarNumOfCols]
			,@FixedLengthOffset + 3 + @TotalNullBitmapSize + @VarNumOfCols * 2 + 1 AS [VarLengthDataStart] -- next bytes after [VarColsOffsetArray]
		FROM #InRowData
		WHERE RowId = @RowId
		)
  
		INSERT INTO #DeletedRows
		SELECT
			[RowId]
			,[PartitionId]
			,[ObjectId]
			,[RowLogContents]
			,[StatusBitA]
			,[StatusBitB]
			,[FixedLengthOffset]
			,[FixedLengthData]
			,[TotalNumOfCols]
			,[TotalNullBitmapSize]
			,[TotalNullBitMapBytes]
			,[TotalNullBitMapBits] = dbo.UDF_GetBitsFromBytes([TotalNullBitMapBytes]) 
			,[VarNumOfCols]
			,[VarColsOffsetArray]
			,[VarLengthDataStart]
		FROM RowData D

		/*
			SELECT * FROM #DeletedRows
			SELECT fixed_length, * FROM #MyPagesDetails
		*/

 

		-- Get each column details
		DROP TABLE IF EXISTS #ColumnData
		SELECT 
			dr.[RowId]
			,dr.[RowLogContents]
			,c.[Name]
			,t.name AS [DataTypeName]
			,cols.leaf_offset
			,cols.leaf_bit_position AS [BitPos]
			,CASE 
				WHEN cols.leaf_offset > 0 AND t.name = 'bit'
				THEN dbo.UDF_GetBitsFromBytes(SUBSTRING(dr.[FixedLengthData], (cols.leaf_offset - 3), c.max_length))
			END AS [BitData]
			,CASE
				WHEN cols.leaf_offset > 0
				THEN cols.leaf_offset + 1
				ELSE 0
			END AS [FixColumnValueStartPosition]
			,CASE 
				WHEN cols.leaf_offset > 0 
				THEN c.max_length 
				ELSE 0
			END AS [ColumnLength]
			,CASE 
				WHEN cols.leaf_offset > 0 
				THEN 0
				ELSE cols.leaf_offset*-1
			END AS [VarNextColOrder]
			,CASE 
				WHEN cols.leaf_offset = -1  -- first var column
				THEN [VarLengthDataStart]
				ELSE dbo.UDF_GetIntFromNext2Bytes([VarColsOffsetArray], 2 * ((cols.leaf_offset*-1) - 1) - 1)
			END AS [VarColumnValueStartPosition]
			,dbo.UDF_GetIntFromNext2Bytes([VarColsOffsetArray], (2 * cols.leaf_offset*-1) - 1) AS [VarColumnValueEndPosition]

			,cols.leaf_null_bit AS [NullBit]
			,cols.System_Type_Id AS [SystemTypeId]
			,ISNULL(c.precision, cols.precision) AS [Precision]
			,ISNULL(c.scale, cols.scale) AS [Scale]
			,SUBSTRING(dr.[TotalNullBitMapBits], cols.leaf_null_bit, 1) AS [IsNull]

		INTO #ColumnData
		FROM #DeletedRows dr
		INNER JOIN sys.system_internals_partition_columns cols --!undocumented!
			ON dr.PartitionId = cols.partition_id 
		LEFT JOIN sys.columns c 
			ON dr.ObjectId = c.object_id AND c.column_id = cols.partition_column_id
		LEFT JOIN sys.types t
			ON c.system_type_id = t.system_type_Id AND c.user_type_id = t.user_type_id

		-- SELECT * FROM #ColumnData --where VarColumnValueEndPosition > 0 order by [VarColumnValueStartPosition]



		/*		
		 Max SMALLINT - 1 -> max offset stored. Range: 0 – 65,535 (unsigned), but in practice it’s signed (-32,768 to 32,767).
		*/
		DECLARE @32767 INT = POWER(2,15) - 1

		--DROP TABLE IF EXISTS #ColumnDataHexValue 
		INSERT INTO #ColumnDataHexValue
		-- This part is for fixed-length data columns and data type = 'bit'
		SELECT
			cols.[RowId]
			,cols.[RowLogContents]
			,cols.[Name]
			,cols.[DataTypeName]
			,cols.[NullBit] 
			,0 AS [IsVarLength]
			,cols.[SystemTypeId]
			,cols.[BitPos]
			,cols.[Precision]   -- for NUMERIC
			,cols.[Scale]		-- for NUMERIC
			,cols.[IsNull]
			,cols.[FixColumnValueStartPosition] AS [ColumnValueStartPosition]
			,cols.[ColumnLength]
			,CASE
				WHEN cols.[IsNull] = 0 
				THEN CONVERT(VARBINARY(1), SUBSTRING(cols.[BitData], cols.[BitPos] + 1, 1))
			END AS [ColumnHexValue]
		FROM #ColumnData cols
		WHERE cols.[FixColumnValueStartPosition] > 0 AND cols.[DataTypeName] = 'bit'

		UNION ALL

		-- This part is for fixed-length data columns and data type != 'bit'
		SELECT
			cols.[RowId]
			,cols.[RowLogContents]
			,cols.[Name]
			,cols.[DataTypeName]
			,cols.[NullBit] 
			,0 AS [IsVarLength]
			,cols.[SystemTypeId]
			,cols.[BitPos]
			,cols.[Precision]   -- for NUMERIC
			,cols.[Scale]		-- for NUMERIC
			,cols.[IsNull]
			,cols.[FixColumnValueStartPosition] AS [ColumnValueStartPosition]
			,cols.[ColumnLength]
			,CASE
				WHEN cols.[IsNull] = 0 
				THEN SUBSTRING([RowLogContents], [FixColumnValueStartPosition], cols.[ColumnLength])
			END AS [ColumnHexValue]
		FROM #ColumnData cols
		WHERE cols.[FixColumnValueStartPosition] > 0 AND cols.[DataTypeName] != 'bit'

		UNION ALL

		--This part is for var-length data columns
		SELECT
			cols.[RowId]
			,cols.[RowLogContents]
			,cols.[Name]
			,cols.[DataTypeName]
			,cols.[NullBit]
			,1 AS [IsVarLength]
			,cols.[SystemTypeId]
			,cols.[BitPos]
			,cols.[Precision]
			,cols.[Scale]
			,cols.[IsNull]
			,(CASE 
				WHEN cols.[IsNull] = 0 
				THEN (CASE 
						WHEN [VarColumnValueStartPosition] > @32767
						THEN [VarColumnValueStartPosition] - @32767  -- interpreted as a negative signed 16-bit integer (overflow wraparound)
						ELSE [VarColumnValueStartPosition]
				END)
			END) AS [ColumnValueStartPosition]

			,(CASE 
				WHEN cols.[IsNull] = 0  
				THEN (CASE
						WHEN [VarColumnValueEndPosition] > @32767 
						THEN (CASE WHEN cols.DataTypeName In ('image','text','ntext') THEN 16 ELSE 24 END)  -- 16-byte LOB pointer, references the actual data 
 
						WHEN [VarColumnValueEndPosition] < @32767 AND [VarColumnValueStartPosition] < @32767
						THEN [VarColumnValueEndPosition] - [VarColumnValueStartPosition]
 
						WHEN [VarColumnValueEndPosition] < @32767 AND [VarColumnValueStartPosition] > @32767
						THEN [VarColumnValueEndPosition] - ([VarColumnValueStartPosition] - @32767)
						END)
			END) AS [ColumnLength]

			,(CASE 
				WHEN cols.[IsNull] = 0 
				THEN SUBSTRING ([RowLogContents],

				--from = [VarColumnValueEndPosition]-[ColumnLength]
				(CASE 
					WHEN [VarColumnValueEndPosition] > @32767
					THEN [VarColumnValueEndPosition] - @32767
					ELSE [VarColumnValueEndPosition]
				END)
				- 
				(CASE 
					WHEN [VarColumnValueEndPosition] > @32767
					THEN (CASE WHEN cols.DataTypeName In ('image','text','ntext') THEN 16 ELSE 24 END) 

					WHEN [VarColumnValueEndPosition] < @32767 AND [VarColumnValueStartPosition] < @32767
					THEN [VarColumnValueEndPosition] - [VarColumnValueStartPosition]
 
					WHEN [VarColumnValueEndPosition] < @32767 AND [VarColumnValueStartPosition] > @32767
					THEN @32767 + [VarColumnValueEndPosition] - [VarColumnValueStartPosition]
				END)
				+ 1, 
		
				--length
				(CASE 
					WHEN [VarColumnValueEndPosition] > @32767 
					THEN (CASE WHEN cols.DataTypeName In ('image','text','ntext') THEN 16 ELSE 24 END) 
				
					WHEN [VarColumnValueEndPosition] < @32767 And [VarColumnValueStartPosition] < @32767
					THEN ABS([VarColumnValueEndPosition] - [VarColumnValueStartPosition])
				
					WHEN [VarColumnValueEndPosition] < @32767 And [VarColumnValueStartPosition] > @32767
					THEN @32767 + [VarColumnValueEndPosition] - [VarColumnValueStartPosition]
				END)
				)
				END) AS [ColumnHexValue]
		FROM #ColumnData cols
		WHERE cols.[VarColumnValueEndPosition] > 0
		ORDER BY [NullBit]


		-- SELECT * FROM #ColumnDataHexValue order by RowId, IsVar, ColumnValueStartPosition, NullBit


		/**********Check for IN_ROW_DATA. End************/



		--TO DO - test do we really need sql_variant, char, nchar in BLOB section?

		/**********Check for BLOB DATA TYPES. Start************/
		/*
		IF EXISTS(
		SELECT 1 FROM #ColumnDataHexValue
		WHERE SystemTypeId IN (34,35,98,99,165,167,175,231,239,241)
		) AND @HasBlobData = 1
		BEGIN
			/*
			SELECT system_type_id, name
			FROM sys.types
			WHERE system_type_id = user_type_id
				AND system_type_id In (34,35,98,99,165,167,175,231,239,241)

			select * from #ColumnDataHexValue
			where SystemTypeId In (34,35,98,99,165,167,175,231,239,241)
			AND Name in ('Col_image','Col_text','Col_varchar_sql_variant','Col_varbinary_sql_variant',
				'Col_ntext','Col_varbinary','Col_varchar','Col_nvarchar','Col_xml')

			select * FROM #FinalData
			where SystemTypeId In (34,35,98,99,165,167,175,231,239,241)
			AND FieldName in ('Col_image','Col_text','Col_varchar_sql_variant','Col_varbinary_sql_variant',
				'Col_ntext','Col_varbinary','Col_varchar','Col_nvarchar','Col_xml')

			image         - 34	
			text          - 35
			sql_variant   - 98 - really BLOB?
			ntext         - 99
			varbinary(max)- 165
			varchar(max)  - 167
			char          - 175 - really BLOB?
			nvarchar(max) - 231
			nchar         - 239 - really BLOB?
			xml           - 241
			*/

			/*
			-- Get StartLSN in VARCHAR - first parameter to sys.fn_dblog - for fast search
			DECLARE @StartLSN NVARCHAR(25) = (SELECT TOP 1 [Current LSN] FROM #TransactionWithDelete ORDER BY CAST([Begin Time] as DATETIME) DESC)
	
			DECLARE @N1 BIGINT = CONVERT(varbinary,SUBSTRING(@StartLSN, 1, 8),2),
					@N2 BIGINT = CONVERT(varbinary,SUBSTRING(@StartLSN, 10, 8),2),
					@N3 BIGINT = CONVERT(varbinary,SUBSTRING(@StartLSN, 19, 4),2)

			SELECT @StartLSN = CAST(@N1 AS VARCHAR) + ':' + CAST(@N2 AS VARCHAR) + ':' + CAST(@N3 AS VARCHAR)
			*/

			/*
			We need to filter LOP_MODIFY_ROW, LOP_MODIFY_COLUMNS from tran log for deleted records of BLOB data type
			LCX_PFS does mean that the PFS-Page will be updated. 
			Heaps and BLOBS use PFS quite frequently when existing data will be deleted
			*/
			DROP TABLE IF EXISTS #DeallocateSpaceLOB	
			SELECT 
				f.[DeallocateSpaceLOBConsolidatedPageID] AS [ConsolidatedPageID]
				,f.[SlotId]
				,f.[AllocUnitId]
				,f.[TypeDesc]
				,CAST(NULL as VARBINARY(8000)) AS [RowLogHexValue]
				,NULL AS [LinkId]
				,f.[Context]
			INTO #DeallocateSpaceLOB
			FROM #MyTransaction f
			WHERE 1=1
				AND f.[Context] IN ('LCX_PFS') 
				AND f.[Operation] IN ('LOP_MODIFY_ROW')  
				AND f.[TypeDesc] IN ('LOB_DATA', 'ROW_OVERFLOW_DATA')
				AND f.[DeallocateSpaceLOBConsolidatedPageID] IS NOT NULL

			-- select * from #DeallocateSpaceLOB order by [ConsolidatedPageID]

			/*
			 m_type = 3 
			 A text page that holds small chunks of LOB values plus internal parts of text tree. 
			 These can be shared between LOB values in the same partition of an index or heap
			 https://www.sqlskills.com/blogs/paul/inside-the-storage-engine-anatomy-of-a-page/
			*/
			DROP TABLE IF EXISTS #TextMixLOB
			SELECT 
				f.[TextMixLOBConsolidatedPageID] AS [ConsolidatedPageID]
				,f.[SlotId]
				,f.[AllocUnitId] 
				,f.[TypeDesc]
				,f.[RowLogHexValue] 
				,f.[LinkId]
				,f.[Context]
			INTO #TextMixLOB
			FROM #MyTransaction f
			WHERE 1=1
				AND f.[Context] IN ('LCX_TEXT_MIX') 
				AND f.[Operation] IN ('LOP_DELETE_ROWS') 
				AND f.[TypeDesc] IN ('LOB_DATA', 'ROW_OVERFLOW_DATA')

			-- select * from #TextMixLOB


 
			DROP TABLE IF EXISTS #BasedPageData
			CREATE TABLE #BasedPageData 
			(
				[ParentObject]  SYSNAME,
				[Object]		SYSNAME,
				[Field]			SYSNAME,
				[Value]			SYSNAME
			)
 
 			DROP TABLE IF EXISTS #PageData
			CREATE TABLE #PageData
			(
				[ConsolidatedPageId] SYSNAME,
				[FileId]			 INT,
				[PageId]			 INT,
				[AllocUnitId]		 BIGINT,
				[SlotId]			 INT,
				[PreValue]           SYSNAME,
				[Value]				 SYSNAME,
			)
 
			DROP TABLE IF EXISTS #ModifiedRawData
			CREATE TABLE #ModifiedRawData 
			(
			  [Id]						INT IDENTITY(1,1),
			  [ConsolidatedPageId]		VARCHAR(MAX),
			  [FileId]					INT,
			  [PageId]					INT,
			  [SlotId]					INT,
			  [AllocUnitId]				BIGINT,
			  [RowLogLengthInt]			INT,
			  [RowLogHexValue]			VARBINARY(Max), --concatenated hex value in varbinary format
			  [LinkId]					INT DEFAULT (0),
			  [Update]					INT
			)

			DECLARE 
				@FileId INT, 
				@PageId INT, 
				@ConsolidatedPageId VARCHAR(MAX),
				@SlotId INT,
				@LinkId INT,
				@AllocUnitId BIGINT,
				--@DBName NVARCHAR(MAX) = 'AdventureWorks',
				@RowLogHexValue VARBINARY(8000)

			DECLARE Page_Data_Cursor CURSOR FOR

				SELECT 
					[ConsolidatedPageID]
					,[SlotId]
					,[AllocUnitId]
					,[RowLogHexValue]
					,[LinkId]
				FROM #DeallocateSpaceLOB  
				UNION ALL
				SELECT 
					[ConsolidatedPageID]
					,[SlotId]
					,[AllocUnitId]
					,[RowLogHexValue]
					,[LinkId]
				FROM #TextMixLOB
                         
				OPEN Page_Data_Cursor
				FETCH NEXT FROM Page_Data_Cursor INTO @ConsolidatedPageId, @SlotId, @AllocUnitId, @RowLogHexValue, @LinkId
 
				WHILE @@FETCH_STATUS = 0
				BEGIN
					DECLARE @PageIdHex AS VARCHAR(Max)

					-- Seperate FileID from PageID
					SET @FileId = SUBSTRING(@ConsolidatedPageID,0,CHARINDEX(':',@ConsolidatedPageID)) 
         
					--Seperate the PageID in Hex
					SET @PageIdHex ='0x'+ SUBSTRING(@ConsolidatedPageID,CHARINDEX(':',@ConsolidatedPageID)+1,Len(@ConsolidatedPageID)) 
			
					-- Convert PageID from hex to integer
					SELECT @PageId = Convert(INT,cast('' AS XML).value('xs:hexBinary(substring(sql:variable("@PageIdHex"),sql:column("t.pos")) )', 'varbinary(max)')) 
					FROM (SELECT CASE SUBSTRING(@PageIdHex, 1, 2) WHEN '0x' THEN 3 ELSE 0 END) AS t(pos) 
             

					IF @LinkId IS NULL --#DeallocateSpaceLOB	 
					BEGIN
						DELETE #BasedPageData

						INSERT INTO #BasedPageData 
						EXEC( 'DBCC PAGE(' + @DBName + ', ' + @FileId + ', ' + @PageId + ', 1) with tableresults,no_infomsgs;'); 

						INSERT INTO #PageData 
						SELECT 
							@ConsolidatedPageID, @FileId, @PageId, @AllocUnitID
							,Substring([ParentObject],CHARINDEX('Slot', [ParentObject])+4, (CHARINDEX('Offset', [ParentObject])-(CHARINDEX('Slot', [ParentObject])+4))-2 ) as [SlotId]
							,LEFT([Value],CHARINDEX(':',[Value])-1) as [PreValue]
							,[Value]
						FROM #BasedPageData
						WHERE [Object] Like 'Memory Dump%'
					END

					ELSE IF @LinkId > 0 --#TextMixLOB
					BEGIN
						INSERT INTO #ModifiedRawData 
						([ConsolidatedPageID], [FileId], [PageId], [SlotId], [AllocUnitId], 
						[RowLogLengthInt], [RowLogHexValue], 
						[LinkId], [Update]
						)
						SELECT 
							@ConsolidatedPageId, @FileId, @PageId, @Slotid, @AllocUnitID, 
							CONVERT(INT,CONVERT(VARBINARY,REVERSE(SUBSTRING(@RowLogHexValue,11,2)))) as [RowLogLengthInt], 
							@RowLogHexValue, 
							@LinkId, 0 as [Update]
					END    
					FETCH NEXT FROM Page_Data_Cursor INTO @ConsolidatedPageId, @SlotId, @AllocUnitId, @RowLogHexValue, @LinkId
				END
     
			CLOSE Page_Data_Cursor
			DEALLOCATE Page_Data_Cursor


			/*
			select * FROM #ModifiedRawData 

			select * from #PageData where PageId = 37753

			select * from #BasedPageData 
			*/

 
			--#DeallocateSpaceLOB
			--The data is in multiple rows for the (PageId, SlotId), so we need to convert it into one row as a single hex value.
			--This hex values [RowLogHexValueString] and [RowLogLengthHexString] are in string format
			DROP TABLE IF EXISTS #PageDataHexValue
			SELECT 
				[ConsolidatedPageId],[FileId],[PageId],[SlotId],[AllocUnitId]
				,SUBSTRING((
					SELECT '0' +
					REPLACE(STUFF((
					SELECT 
						SUBSTRING([Value],CHARINDEX(':',[Value])+4, 44)
					FROM #PageData C  
					WHERE C.[ConsolidatedPageID] = B.[ConsolidatedPageID] 
						And C.SlotId = B.SlotId
					Order By '0x'+ [PreValue]
					FOR XML PATH('') ),1,1,'') ,' ','')
					),1,20000) AS [RowLogHexValueString]
				,SUBSTRING((
					SELECT '0x' +
					REPLACE(STUFF((
					SELECT 
						SUBSTRING([Value],CHARINDEX(':',[Value])+4, 44)
					FROM #PageData C  
					WHERE C.[ConsolidatedPageID] = B.[ConsolidatedPageID]
						And C.SlotId = B.SlotId
					Order By '0x'+ [PreValue]
					FOR XML PATH('') ),1,1,'') ,' ','')
					),6,4) AS [RowLogLengthHexString] -- Bytes 2 and 3 are the offset of the null bitmap in the record
			INTO #PageDataHexValue
			FROM #PageData B
			GROUP BY [ConsolidatedPageID],[FileId],[PageId],[SlotId],[AllocUnitId]

			-- SELECT * FROM #PageDataHexValue

			-- Convert the binary data to a string of hexadecimal characters
			INSERT INTO #ModifiedRawData 
			([ConsolidatedPageId], [FileId], [PageId], [SlotId], [AllocUnitId], [RowLogHexValue], [RowLogLengthInt])
			SELECT 
				[ConsolidatedPageId], [FileId], [PageId], [SlotId], [AllocUnitId], 
				[RowLogHexValue] = CAST('' AS XML).value('xs:hexBinary(substring(sql:column("[RowLogHexValueString]"),0))', 'varbinary(Max)'),  
				[RowLogLengthInt] = CONVERT(VARBINARY(8000),REVERSE(CAST('' AS XML).value('xs:hexBinary(substring(sql:column("[RowLogLengthHexString]"),0))', 'varbinary(Max)')))
			FROM #PageDataHexValue
			ORDER BY [ConsolidatedPageID],[FileId],[PageId],[SlotId],[AllocUnitId]

			PRINT CONCAT('4. #ModifiedRawData is ready', CONVERT(TIME, GETDATE()))
			/*


			SELECT 
				*,
				--Convert(int,Convert(Varbinary(Max),Reverse(Substring(B.[RowLogHexValue],19+14,2)))) as FileIdA,
				--Convert(int,Convert(Varbinary(Max),Reverse(Substring(B.[RowLogHexValue],15+14,2)))) as PageIdA,
				--Convert(int,Convert(Varbinary(Max),Reverse(Substring(B.[RowLogHexValue],31+14,2)))) as FileIdC,
				--Convert(int,Convert(Varbinary(Max),Reverse(Substring(B.[RowLogHexValue],27+14,2)))) as PageIdC,
				CASE WHEN [RowLogLengthInt] >= 8000 THEN SUBSTRING([RowLogHexValue],[RowLogLengthInt]-8000+1,[RowLogLengthInt]) END as Above8000,
				CASE WHEN [RowLogLengthInt] < 8000 THEN SUBSTRING([RowLogHexValue],15+6,Convert(int,Convert(varbinary(max),REVERSE(SUBSTRING([RowLogHexValue],15,6))))) END as Below8000
			FROM #ModifiedRawData B
			WHERE [LinkId] = 0
			*/

 
			UPDATE B 
				SET [RowLogHexValue] = 
				CASE 
					WHEN A.[RowLogHexValue] IS NOT NULL AND C.[RowLogHexValue] IS NOT NULL THEN  A.[RowLogHexValue]+C.[RowLogHexValue] 
					WHEN A.[RowLogHexValue] IS NULL AND C.[RowLogHexValue] IS NOT NULL THEN  C.[RowLogHexValue]
					WHEN A.[RowLogHexValue] IS NOT NULL AND C.[RowLogHexValue] IS NULL THEN  A.[RowLogHexValue]  
				END
				,B.[Update] = ISNULL(B.[Update],0)+1
			FROM #ModifiedRawData B
			LEFT JOIN #ModifiedRawData A 
				ON A.[FileId] = Convert(int,Convert(Varbinary(Max),Reverse(Substring(B.[RowLogHexValue],19+14,2))))  
				AND A.[PageId] = Convert(int,Convert(Varbinary(Max),Reverse(Substring(B.[RowLogHexValue],15+14,2))))
				AND A.[LinkId] = B.[LinkId] 
			LEFT JOIN #ModifiedRawData C 
				ON C.[FileId] = Convert(int,Convert(Varbinary(Max),Reverse(Substring(B.[RowLogHexValue],31+14,2))))
				AND C.[PageId] = Convert(int,Convert(Varbinary(Max),Reverse(Substring(B.[RowLogHexValue],27+14,2))))
				AND C.[LinkId] = B.[LinkId] 
			WHERE A.[RowLogHexValue] IS NOT NULL OR C.[RowLogHexValue] IS NOT NULL
 
			--LinkId > 0 -#TextMixLOB
			UPDATE B 
				SET B.[RowLogHexValue] =
				CASE 
					WHEN A.[RowLogHexValue] IS NOT NULL AND C.[RowLogHexValue] IS NOT NULL THEN  A.[RowLogHexValue]+C.[RowLogHexValue] 
					WHEN A.[RowLogHexValue] IS NULL AND C.[RowLogHexValue] IS NOT NULL THEN  C.[RowLogHexValue]
					WHEN A.[RowLogHexValue] IS NOT NULL AND C.[RowLogHexValue] IS NULL THEN  A.[RowLogHexValue]  
				END
				,B.[Update]=ISNULL(B.[Update],0)+1
			FROM #ModifiedRawData B
			LEFT JOIN #ModifiedRawData A 
				On A.[PageId] = Convert(int,Convert(Varbinary(Max),Reverse(Substring(B.[RowLogHexValue],15+14,2))))
				And A.[FileId] = Convert(int,Convert(Varbinary(Max),Reverse(Substring(B.[RowLogHexValue],19+14,2)))) 
				And A.[LinkId] <> B.[LinkId] 
				And B.[Update] = 0
			LEFT JOIN #ModifiedRawData C 
				On C.[PageId] = Convert(int,Convert(Varbinary(Max),Reverse(Substring(B.[RowLogHexValue],27+14,2))))
				And C.[FileId] = Convert(int,Convert(Varbinary(Max),Reverse(Substring(B.[RowLogHexValue],31+14,2))))
				And C.[LinkId] <> B.[LinkId] 
				And B.[Update] = 0
			WHERE A.[RowLogHexValue] IS NOT NULL OR C.[RowLogHexValue] IS NOT NULL
 
			UPDATE #ModifiedRawData  
				SET [RowLogHexValue] = 
				CASE 
					WHEN [RowLogLengthInt] >= 8000 
					THEN SUBSTRING([RowLogHexValue],[RowLogLengthInt]-8000+1,[RowLogLengthInt])
					WHEN [RowLogLengthInt] < 8000 
					THEN SUBSTRING([RowLogHexValue],15+6,Convert(int,Convert(varbinary(max),REVERSE(SUBSTRING([RowLogHexValue],15,6)))))
				END
			FROM #ModifiedRawData 
			WHERE [LinkId] = 0

			/*
			select * FROM #ModifiedRawData

			select *
			from #ColumnDataHexValue A
			WHERE SystemTypeId IN (34,35,98,99,165,167,175,231,239,241) 
			*/


			--Final updates of HexValue in #ColumnDataHexValue
			UPDATE A
				SET 
					A.ColumnLength = B.RowLogLengthInt
					,A.HexValue = B.[RowLogHexValue] 
					,A.[Update]=A.[Update]+1
			FROM #ColumnDataHexValue A
			INNER JOIN #ModifiedRawData B 
				ON Convert(int,Convert(Varbinary(Max),Reverse(Substring(A.HexValue,17,4)))) = B.[PageId]
				AND Convert(int,Substring(A.HexValue,9,2)) = B.[LinkId] 
			WHERE SystemTypeId IN (98,99,165,167,175,231,239,241) 
				AND B.[LinkId] <> 0 
 
			--varchar, varbinary,nvarchar, sql_variant, xml
			UPDATE A 
				SET 
					A.ColumnLength = 
					CASE 
						WHEN B.[RowLogHexValue] IS NOT NULL AND C.[RowLogHexValue] IS NOT NULL THEN  B.RowLogLengthInt+C.RowLogLengthInt 
						WHEN B.[RowLogHexValue] IS NULL AND C.[RowLogHexValue] IS NOT NULL THEN  C.RowLogLengthInt
						WHEN B.[RowLogHexValue] IS NOT NULL AND C.[RowLogHexValue] IS NULL THEN  B.RowLogLengthInt  
					END,
					A.HexValue =
					CASE 
						WHEN B.[RowLogHexValue] IS NOT NULL AND C.[RowLogHexValue] IS NOT NULL THEN  B.[RowLogHexValue]+C.[RowLogHexValue] 
						WHEN B.[RowLogHexValue] IS NULL AND C.[RowLogHexValue] IS NOT NULL THEN  C.[RowLogHexValue]
						WHEN B.[RowLogHexValue] IS NOT NULL AND C.[RowLogHexValue] IS NULL THEN  B.[RowLogHexValue]  
					END
					,A.[Update]=A.[Update]+1
			FROM #ColumnDataHexValue A
			LEFT JOIN #ModifiedRawData B 
				ON Convert(int,Convert(Varbinary(Max),Reverse(Substring(A.HexValue,5,4)))) = B.[PageId]
				AND B.[LinkId] = 0 
			LEFT JOIN #ModifiedRawData C 
				ON Convert(int,Convert(Varbinary(Max),Reverse(Substring(A.HexValue,17,4)))) = C.[PageId]  
				AND C.[LinkId] = 0 
			WHERE SystemTypeId IN (98,99,165,167,175,231,239,241) 
				AND (B.[RowLogHexValue] IS NOT NULL OR C.[RowLogHexValue] IS NOT NULL)
 
			--image, text, ntext
			UPDATE A 
				SET 
					A.ColumnLength = B.RowLogLengthInt
					,A.HexValue = B.[RowLogHexValue]  
					,A.[Update]=A.[Update]+1
			FROM #ColumnDataHexValue A
			INNER JOIN #ModifiedRawData B 
				ON Convert(int,Convert(Varbinary(Max),Reverse(Substring(A.HexValue,9,4)))) = B.[PageId]
				And Convert(int,Substring(HexValue,3,2)) = B.[LinkId]
			WHERE SystemTypeId IN (34,35,99) 
				AND B.[LinkId] <> 0 
    
			--image, text, ntext
			UPDATE A 
				SET 
					A.ColumnLength = B.RowLogLengthInt
					,A.HexValue = B.[RowLogHexValue] 
					,A.[Update]=A.[Update]+10
			FROM #ColumnDataHexValue A
			INNER JOIN #ModifiedRawData B 
				ON Convert(int,Convert(Varbinary(Max),Reverse(Substring(A.HexValue,9,4)))) = B.[PageId]
			WHERE SystemTypeId IN (34,35,99) 
				AND B.[LinkId] = 0
 
			--image, text, ntext
			UPDATE A 
				SET 
					A.ColumnLength = B.RowLogLengthInt
					,A.HexValue = B.[RowLogHexValue]
					,A.[Update]=A.[Update]+1
			FROM #ColumnDataHexValue A
			INNER JOIN #ModifiedRawData B 
				ON Convert(int,Convert(Varbinary(Max),Reverse(Substring(HexValue,15,4)))) = B.[PageId]
			WHERE SystemTypeId IN (34,35,99) 
				AND B.[LinkId] = 0
 
			--xml
			UPDATE #ColumnDataHexValue 
				SET 
					HexValue= 0xFFFE + HexValue 
					,[Update]=[Update]+1
			WHERE SystemTypeId = 241


		/*
			select 
				*
			from #ColumnDataHexValue A
			WHERE SystemTypeId IN (34,35,98,99,165,167,175,231,239,241) 
		*/

		END

		*/
		/**********Check for BLOB DATA TYPES. End************/
	END
	/************************ Loop by rows. End ***********************/


	/*
	- DATE data type stores the number of days since 0001-01-01.
		To convert to correct date, subtract 693595 days (the number of days between 0001-01-01 and 1900-01-01)
	- TIME data type is stored as the number of 100-nanosecond intervals since midnight.
		To convert this to milliseconds, divide the value by 10000 (since there are 10k 100-nanosecond intervals in a millisecond)
	*/

	--4th block to run
	BEGIN

		--Final values
		DROP TABLE IF EXISTS #FinalData
		CREATE TABLE #FinalData
		(
			[RowId]				INT
			,[SystemTypeId]		INT
			,[DataTypeName]		VARCHAR(50)
			,[FieldName]		VARCHAR(MAX)
			,[FieldValue]		NVARCHAR(MAX)
			,[FieldLength]		INT
			,[ColumnHexValue]	VARBINARY(MAX)
		)
	
		--Convert the data with respect to its datatype defined AS SystemTypeId 
		INSERT INTO #FinalData
		SELECT 
			RowId
			,SystemTypeId
			,DataTypeName
			,Name
			,CASE
				-- NVARCHAR, NCHAR
				WHEN SystemTypeId IN (231, 239) THEN LTRIM(RTRIM(CONVERT(NVARCHAR(MAX), ColumnHexValue)))        
				-- VARCHAR, CHAR
				WHEN SystemTypeId IN (167, 175) THEN LTRIM(RTRIM(CONVERT(VARCHAR(MAX), ColumnHexValue)))  
				-- TEXT
				WHEN SystemTypeId IN (35) THEN LTRIM(RTRIM(CONVERT(VARCHAR(MAX), ColumnHexValue)))      
				-- NTEXT
				WHEN SystemTypeId IN (99) THEN LTRIM(RTRIM(CONVERT(NVARCHAR(MAX), ColumnHexValue)))
				
				-- TINYINT
				WHEN SystemTypeId = 48 THEN CONVERT(VARCHAR(MAX), CONVERT(TINYINT, CONVERT(BINARY(1), REVERSE(ColumnHexValue)))) 
				-- SMALLINT
				WHEN SystemTypeId = 52 THEN CONVERT(VARCHAR(MAX), CONVERT(SMALLINT, CONVERT(BINARY(2), REVERSE(ColumnHexValue)))) 
				-- INT
				WHEN SystemTypeId = 56 THEN CONVERT(VARCHAR(MAX), CONVERT(INT, CONVERT(BINARY(4), REVERSE(ColumnHexValue)))) 
				-- BIGINT
				WHEN SystemTypeId = 127 THEN CONVERT(VARCHAR(MAX), CONVERT(BIGINT, CONVERT(BINARY(8), REVERSE(ColumnHexValue)))) 

				-- DATETIME
				WHEN SystemTypeId = 61 THEN CONVERT(VARCHAR(MAX), CONVERT(DATETIME, CONVERT(VARBINARY(8000), REVERSE(ColumnHexValue))), 100) 
				-- SMALLDATETIME
				WHEN SystemTypeId = 58 THEN CONVERT(VARCHAR(MAX), CONVERT(SMALLDATETIME, CONVERT(VARBINARY(8000), REVERSE(ColumnHexValue))), 100) 
				-- DATE
				WHEN SystemTypeId = 40 THEN CONVERT(VARCHAR(MAX), DATEADD(DAY, -693595, CAST(DATEADD(DAY, CAST(CONVERT(VARBINARY(4), REVERSE(ColumnHexValue)) AS INT), '1900-01-01') AS DATE)))
				-- TIME
				WHEN SystemTypeId = 41 THEN CONVERT(VARCHAR(MAX), DATEADD(MILLISECOND, CAST(CONVERT(VARBINARY(8), REVERSE(ColumnHexValue)) AS BIGINT)/ 10000.0, CAST('00:00:00.00' AS TIME)))

				-- NUMERIC
				WHEN SystemTypeId = 108 THEN CONVERT(VARCHAR(MAX), CONVERT(NUMERIC(38, 20), CONVERT(VARBINARY, CONVERT(VARBINARY(1), Precision) + CONVERT(VARBINARY(1), Scale)) + CONVERT(VARBINARY(1), 0) + ColumnHexValue)) 
				-- DECIMAL
				WHEN SystemTypeId = 106 THEN CONVERT(VARCHAR(MAX), CONVERT(DECIMAL(38, 20), CONVERT(VARBINARY, CONVERT(VARBINARY(1), Precision) + CONVERT(VARBINARY(1), Scale)) + CONVERT(VARBINARY(1), 0) + ColumnHexValue))        
				-- MONEY, SMALLMONEY
				WHEN SystemTypeId IN (60, 122) THEN CONVERT(VARCHAR(MAX), CONVERT(MONEY, CONVERT(VARBINARY(8000), REVERSE(ColumnHexValue))), 2)      
				-- FLOAT
				WHEN SystemTypeId = 62 THEN RTRIM(LTRIM(STR(CONVERT(FLOAT, SIGN(CAST(CONVERT(VARBINARY(8000), REVERSE(ColumnHexValue)) AS BIGINT)) * (1.0 + (CAST(CONVERT(VARBINARY(8000), REVERSE(ColumnHexValue)) AS BIGINT) & 0x000FFFFFFFFFFFFF) * POWER(CAST(2 AS FLOAT), -52)) * POWER(CAST(2 AS FLOAT), ((CAST(CONVERT(VARBINARY(8000), REVERSE(ColumnHexValue)) AS BIGINT) & 0x7ff0000000000000) / EXP(52 * LOG(2)) - 1023))), 53, LEN(ColumnHexValue)))) 
				-- REAL
				WHEN SystemTypeId = 59 THEN LEFT(LTRIM(STR(CAST(SIGN(CAST(CONVERT(VARBINARY(8000), REVERSE(ColumnHexValue)) AS BIGINT)) * (1.0 + (CAST(CONVERT(VARBINARY(8000), REVERSE(ColumnHexValue)) AS BIGINT) & 0x007FFFFF) * POWER(CAST(2 AS REAL), -23)) * POWER(CAST(2 AS REAL), (((CAST(CONVERT(VARBINARY(8000), REVERSE(ColumnHexValue)) AS INT)) & 0x7f800000) / EXP(23 * LOG(2)) - 127)) AS REAL), 23, 23)), 8) 
				
				-- BIT
				WHEN SystemTypeId = 104 THEN CONVERT(VARCHAR(MAX), CONVERT(BIT, CONVERT(BINARY(1), ColumnHexValue) % 2))  				
				-- BINARY, VARBINARY
				WHEN SystemTypeId IN (165, 173) THEN (CASE WHEN CHARINDEX(0x, CAST('' AS XML).value('xs:hexBinary(sql:column("ColumnHexValue"))', 'VARBINARY(8000)')) = 0 THEN '0x' ELSE '' END) + CAST('' AS XML).value('xs:hexBinary(sql:column("ColumnHexValue"))', 'varchar(max)')    
				-- UNIQUEIDENTIFIER
				WHEN SystemTypeId = 36 THEN CONVERT(VARCHAR(MAX), CONVERT(UNIQUEIDENTIFIER, ColumnHexValue)) 
				-- TIMESTAMP
				WHEN SystemTypeId = 189 THEN (CASE WHEN CHARINDEX(0x, CAST('' AS XML).value('xs:hexBinary(sql:column("ColumnHexValue"))', 'VARBINARY(8000)')) = 0 THEN '0x' ELSE '' END) + CAST('' AS XML).value('xs:hexBinary(sql:column("ColumnHexValue"))', 'varchar(max)') 
			END AS FieldValue
			,ColumnLength
			,ColumnHexValue
		FROM #ColumnDataHexValue 
		ORDER BY NullBit

		-- SELECT * FROM #FinalData

		--Create the column name in the same order to do pivot table.
		DECLARE 
			@FieldNames VARCHAR(MAX),
			@MaxFieldNames VARCHAR(MAX)

		SELECT 
			@FieldNames = STRING_AGG(FieldName, ','),
			@MaxFieldNames = STRING_AGG('MAX('+ FieldName +') AS ' + FieldName, ',')
		FROM #FinalData
		WHERE RowId = 1
		--SELECT @FieldNames, @MaxFieldNames

 
		--Finally did pivot table and get the data back in the same format.
 		DECLARE @SQL NVARCHAR(MAX)
		SET @sql = 'SELECT RowId,' + @MaxFieldNames  + ' FROM #FinalData PIVOT (Min([FieldValue]) FOR FieldName IN (' + @FieldNames  + ')) AS pvt GROUP BY RowId'
		EXEC sp_executesql @sql

	END
	-- end of 4th block to run
 
END

